.container {
  display: grid;

  /* background: blue; */
  min-height: calc(100vh - 64px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8fr 1fr;
  grid-template-areas:
    "searchusers showusers"
    "footer footer";
}

.searchUsers {
  grid-area: searchusers;
  padding-top: 10%;
  padding-bottom: 10%;
}

.searchusersinternal {
  height: 100%;
  width: 100%;
  border-right: 1px solid black !important;
  padding-left: 5%;
  padding-right: 5%;
  /* background: blue; */
}

.showUsers {
  grid-area: showusers;
  padding-top: 10%;
  padding-bottom: 10%;
}

.showusersinternal {
  height: 100%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  /* border: 1px solid black !important; */
}

.footerComponentClass {
  grid-area: footer;
}

@media only screen and (max-width: 600px) {
  .container {
    /* grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "mainleft"
      "logindiv"
      "mainright"
      "footer"; */
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 1fr;
    grid-template-areas:
      "searchusers"
      "showusers"
      "footer";
    height: calc(100vh - 56px);
  }
  /* .searchUsers {
    padding-bottom: 0;
  }
  .showUsers {
    padding-top: 0;
  } */
}

/* from here css for requests page  */

.requestsContainer {
  display: grid;
  min-height: calc(100vh - 64px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8fr 1fr;
  grid-template-areas:
    "allRequests individualRequest"
    "footer footer";
}

.allRequests {
  grid-area: allRequests;
  padding-top: 10%;
  padding-bottom: 10%;
}

.allRequestsInternal {
  height: 100%;
  /* height: 400; */
  /* max-height: 100%; */
  width: 100%;
  border-right: 1px solid black !important;
  padding-left: 5%;
  padding-right: 5%;
  /* overflow: auto; */
  /* overflow-y: scroll; */
  /* background: blue; */
}

.allRequestsInternalInternal {
  width: 100%;
  /* padding-top: 20px; */
  max-height: 550px;
  overflow-y: scroll;
}

.individualRequest {
  grid-area: individualRequest;
  padding-top: 10%;
  padding-bottom: 10%;
}

.individualRequestInternal {
  height: 100%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  /* display: flex;
  justify-content: center; */
  /* border: 1px solid black !important; */
}

.requestImageDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loadingContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.requestsLoadingContainer {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paintCanvas {
  width: 500px;
  height: 500px;
  /* background: blue; */
}

.canvasClass {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  cursor: url(../assets/blackpen.svg), pointer;
}
.canvasClassRed {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  cursor: url(../assets/redpen.svg), pointer;
}

.canvasClassGreen {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  cursor: url(../assets/greenpen.svg), pointer;
}

.canvasClassBlue {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  cursor: url(../assets/bluepen.svg), pointer;
}

.canvasClassEraser {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  cursor: url(../assets/eraser.svg), pointer;
}

.discussionPageContainer {
  display: grid;
  /* max-height: calc(100vh - 64px); */
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "header header"
    "videoChat paintComponent"
    "footer footer";
}

.videoChat {
  grid-area: videoChat;
  max-height: 80vh;
  width: 100%;
  /* background: blue; */
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas:
    "remoteVideo"
    "localVideoDiv"; */

  /* border: 1px solid blue; */
}

.videosContainer {
  max-width: 100%;
  max-height: 80vh;
  height: 100%;
  /* background: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.remoteVideo {
  /* grid-area: remoteVideo; */
  max-height: 400px;
  /* max-width: 100%; */
  /* background: green; */
}

.localVideoDiv {
  /* grid-area: localVideoDiv; */
  /* max-height: 100px; */
  /* max-width: 100%; */
  /* background: orange; */
  width: 100%;
  display: flex;
  justify-content: center;
}

/* for disconnect button */
.buttonContainer {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.navbar {
  /* color: black; */
  grid-area: header;
  height: 60px;
  width: 100%;
  background: #fcba04;

  -moz-box-shadow: 0px 0.5px 5px 6px #ccc;
  -webkit-box-shadow: 0px 0.5px 5px 6px #ccc;
  box-shadow: 0px 0.5px 5px 6px #ccc;
}

.navbarName {
  padding-left: 20px;
  height: 100%;
  /* background: black; */
  /* padding-top: 5px; */
  display: flex;
  align-items: center;
}

.myVideo {
  max-height: 150px;
}

.paintComponent {
  grid-area: paintComponent;
  height: 100%;
  min-width: 500px;
  width: 600px;
  /* background: purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid purple; */
}

.insidePaintComponent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.paintButtons {
  display: flex;
  justify-content: center;
}

.profilePageContainer {
  display: grid;
  /* max-height: calc(100vh - 64px); */
  height: calc(100vh - 64px);
  grid-template-columns: 1fr;
  grid-template-rows: 8fr 1fr;
  grid-template-areas:
    "profileSettings"
    "footer";
}

.profileSettings {
  grid-area: profileSettings;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonsDiv {
  /* background: pink; */
  width: 100%;
  /* height: 50%; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  /* padding: 50px; */
  /* background: pink; */
}

.changePhotoButton {
  margin: 32px;
  /* height: 50px;
  margin: 20px; */
  /* background-color: black; */
}

.changePasswordButton {
  margin: 32px;
  /* height: 50px;
  margin: 20px; */
}

.changeBioButton {
  margin: 32px;
  /* height: 50px;
  margin: 20px; */
}

.showBioContainer {
  /* height: 40%; */
  /* background: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: yellow; */
}

.bioTextField {
  margin-top: 0px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 0;
  width: 300px;
  /* background: blue; */
}

.updateBioButton {
  /* background: pink; */
  /* height: 100%; */
  margin: 12px;
  display: flex;
  justify-content: center;
}
